@using BetTracker.Models


@{
    Layout = "~/Views/Dashboard/headerdashboard.cshtml";
}
<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <meta name="viewport" content="width=device-width" />
    <title>Profil</title>
</head>
<body>
    @{
        var data = ViewBag.Message;
        var drzave = ViewBag.Drzava;
    }

    <div class="container">
        <div class="bg-light text-dark" style="padding: 30px; border-radius: 20px;">
            <form class="col-md-6" action="PosodobiProfil" method="post">
                <div class="form-group">
                    <label>Ime </label>
                    <input type="text" name="ime" value="@data.Ime" class="form-control" id="ime" placeholder="Vnesite ime uporabnika">
                </div>

                <div class="form-group">
                    <label>Priimek </label>
                    <input type="text" name="priimek" value="@data.Priimek" class="form-control" id="priimek" placeholder="Vnesite priimek uporabnika">
                </div>

                <div class="form-group">
                    <label>Email </label>
                    <input type="email" name="email" value="@data.Email" class="form-control" id="email" placeholder="Vnesite svoj email naslov">
                </div>

                <div class="form-group">
                    <label>Država </label>
                    <select class="form-control" name="drzava">
                        @foreach (var d in drzave)
                        {
                            <option value="@d.ID_drzava">@d.Ime</option>
                        }
                    </select>
                </div>

                <button type="submit" class="btn btn-info">Posodobi</button>
            </form>

            <form class="text-center border border-light p-5" action="PosodobiProfil" method="post" style="width: 900px;">

            <p class="h4 mb-4">Registracija</p>

            <div class="form-row mb-4">
                <div class="col">
                    <!-- First name -->
                    <input type="text" id="ime" name="ime" class="form-control" placeholder="Ime">
                </div>
                <div class="col">
                    <!-- Last name -->
                    <input type="text" name="priimek" id="priimek" class="form-control" placeholder="Priimek">
                </div>
            </div>

            <!-- E-mail -->
            <input type="email" id="email" name="email" class="form-control mb-4" placeholder="E-mail">

            <select class="form-control mb-4" name="drzava">
                @foreach (var d in drzave)
                {
                    <option value="@d.ID_drzava">@d.Ime</option>
                }
            </select>

            <!-- Password -->
            <input type="password" name="geslo" id="geslo" class="form-control mb-4" placeholder="Geslo" aria-describedby="geslo">

            <input type="password" name="geslo_ponovi" id="geslo_ponovi" class="form-control mb-4" placeholder="Ponovi geslo" aria-describedby="geslo_ponovi">
            <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                Minimalno 8 znakov in 1 številka
            </small>

            <!-- Sign up button -->
            <button class="btn btn-info my-4 btn-block" type="submit">Registracija</button>

            <hr>

            <!-- Terms of service -->
            <p>
                Z registracijo se strinjate z našimi pogoji
                <a href="/Home/Pogoji">pogoji uporabe</a>

                </form>
        </div>
    </div>

</body>
</html>

<script>
    let navbar = document.querySelectorAll(".nav-item");
    navbar[2].classList.add("active");
</script>
